In [2]:
import pandas as pd
import numpy as np

In [21]:
#Random generation of values
samples_list = []
for i in range(0, 20):
    samples_list.append(np.random.random_integers(0,99, 3))
sample_df = pd.DataFrame(samples_list, columns=['A','B','C'])

In [23]:
# create new attribute of DataFrame and set it's value to the previous index value
sample_df['last_value_A'] = sample_df['A'].shift(1)
# create new attribute  of the DataFrame and set it's value to a rolling 5 value average
sample_df['rolling_5'] = pd.rolling_mean(sample_df['B'], 5)
sample_df

     A   B   C  last_value_A  rolling_5
0   93  79  31           NaN        NaN
1   49   4  95            93        NaN
2   51  20  36            49        NaN
3   82  18  28            51        NaN
4   34  75  73            82       39.2
5   65  73   5            34       38.0
6   58  97  88            65       56.6
7   29  43  72            58       61.2
8   43  15  51            29       60.6
9   95  98  53            43       65.2
10   0  64   1            95       63.4
11  36  82  28             0       60.4
12  67  53  24            36       62.4
13  34   1  80            67       59.6
14  33  12  82            34       42.4
15  94  75  20            33       44.6
16  12  27  20            94       33.6
17  98  99  45            12       42.8
18  83  49  33            98       52.4
19  46  67  55            83       63.4